{
  "openapi": "3.0.3",
  "info": {
    "title": "Poku API",
    "description": "API for managing interaction channels and human-in-the-loop (HITL) operations",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.pokulabs.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/interaction-channels": {
      "post": {
        "summary": "Create an interaction channel",
        "description": "Creates a new interaction channel for the authenticated user",
        "operationId": "createInteractionChannel",
        "tags": ["Interaction Channels"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InteractionChannelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created interaction channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InteractionChannel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "summary": "Get all interaction channels",
        "description": "Retrieves all interaction channels for the authenticated user",
        "operationId": "getInteractionChannels",
        "tags": ["Interaction Channels"],
        "responses": {
          "200": {
            "description": "Successfully retrieved interaction channels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InteractionChannel"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/interaction-channels/{interactionChannelId}": {
      "delete": {
        "summary": "Delete an interaction channel",
        "description": "Deletes a specific interaction channel by ID",
        "operationId": "deleteInteractionChannel",
        "tags": ["Interaction Channels"],
        "parameters": [
          {
            "name": "interactionChannelId",
            "in": "path",
            "required": true,
            "description": "The ID of the interaction channel to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted interaction channel"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Interaction channel not found"
          }
        }
      }
    },
    "/interaction-channels/test": {
      "post": {
        "summary": "Test an interaction channel",
        "description": "Sends a test message through the specified interaction channel",
        "operationId": "testInteractionChannel",
        "tags": ["Interaction Channels"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["interactionChannelId"],
                "properties": {
                  "interactionChannelId": {
                    "type": "string",
                    "description": "The ID of the interaction channel to test"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test message sent successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Interaction channel not found"
          }
        }
      }
    },
    "/hitl/contact-human/{interactionChannelId}": {
      "post": {
        "summary": "Contact a human supervisor",
        "description": "Sends a message to a human supervisor and waits for their response.",
        "operationId": "contactHuman",
        "tags": ["HITL"],
        "parameters": [
          {
            "name": "interactionChannelId",
            "in": "path",
            "required": true,
            "description": "The ID of the interaction channel to use",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactHumanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully contacted human and received response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactHumanResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Interaction channel not found"
          }
        }
      }
    },
    "/hitl/notify-human/{interactionChannelId}": {
      "post": {
        "summary": "Notify a human",
        "description": "Sends a notification message to a human without waiting for a response.",
        "operationId": "notifyHuman",
        "tags": ["HITL"],
        "parameters": [
          {
            "name": "interactionChannelId",
            "in": "path",
            "required": true,
            "description": "The ID of the interaction channel to use",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotifyHumanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully notified human"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Interaction channel not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "poku-authorization",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "TemplateFields": {
        "type": "object",
        "properties": {
          "messageTemplate": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1000,
            "description": "Template for the message sent to the human"
          },
          "responseTemplate": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1000,
            "description": "Template for formatting the human's response"
          },
          "noResponseTemplate": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1000,
            "description": "Template for when no response is received"
          }
        }
      },
      "InteractionChannelRequest": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SmsInteractionChannel"
          },
          {
            "$ref": "#/components/schemas/SlackInteractionChannel"
          },
          {
            "$ref": "#/components/schemas/SmsPokuInteractionChannel"
          },
          {
            "$ref": "#/components/schemas/SlackPokuInteractionChannel"
          },
          {
            "$ref": "#/components/schemas/WhatsappPokuInteractionChannel"
          },
          {
            "$ref": "#/components/schemas/CallPokuInteractionChannel"
          }
        ],
        "discriminator": {
          "propertyName": "medium",
          "mapping": {
            "sms": "#/components/schemas/SmsInteractionChannel",
            "slack": "#/components/schemas/SlackInteractionChannel",
            "sms_poku": "#/components/schemas/SmsPokuInteractionChannel",
            "slack_poku": "#/components/schemas/SlackPokuInteractionChannel",
            "whatsapp_poku": "#/components/schemas/WhatsappPokuInteractionChannel",
            "call_poku": "#/components/schemas/CallPokuInteractionChannel"
          }
        }
      },
      "SmsInteractionChannel": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TemplateFields"
          },
          {
            "type": "object",
            "required": ["medium", "humanNumber", "agentNumber", "waitTime"],
            "properties": {
              "medium": {
                "type": "string",
                "enum": ["sms"]
              },
              "humanNumber": {
                "type": "string",
                "minLength": 1,
                "maxLength": 20,
                "description": "The phone number of the human supervisor"
              },
              "agentNumber": {
                "type": "string",
                "minLength": 1,
                "maxLength": 20,
                "description": "The phone number used to send SMS"
              },
              "waitTime": {
                "type": "integer",
                "minimum": 1,
                "description": "Time in seconds to wait for a response"
              },
              "linkEnabled": {
                "type": "boolean",
                "description": "Whether to include a link in the message"
              }
            }
          }
        ]
      },
      "SlackInteractionChannel": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TemplateFields"
          },
          {
            "type": "object",
            "required": ["medium", "humanNumber", "agentNumber", "waitTime"],
            "properties": {
              "medium": {
                "type": "string",
                "enum": ["slack"]
              },
              "humanNumber": {
                "type": "string",
                "minLength": 1,
                "maxLength": 20,
                "description": "The Slack user ID of the human supervisor"
              },
              "agentNumber": {
                "type": "string",
                "minLength": 1,
                "maxLength": 20,
                "description": "The Slack Team ID"
              },
              "waitTime": {
                "type": "integer",
                "minimum": 1,
                "description": "Time in seconds to wait for a response"
              },
              "linkEnabled": {
                "type": "boolean",
                "description": "Whether to include a link in the message"
              }
            }
          }
        ]
      },
      "SmsPokuInteractionChannel": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TemplateFields"
          },
          {
            "type": "object",
            "required": ["medium", "humanNumber", "waitTime"],
            "properties": {
              "medium": {
                "type": "string",
                "enum": ["sms_poku"]
              },
              "humanNumber": {
                "type": "string",
                "minLength": 1,
                "maxLength": 20,
                "description": "The phone number of the human supervisor"
              },
              "waitTime": {
                "type": "integer",
                "minimum": 1,
                "description": "Time in seconds to wait for a response"
              },
              "webhook": {
                "type": "string",
                "minLength": 1,
                "maxLength": 1000,
                "description": "Webhook URL for notifications"
              },
              "validTime": {
                "type": "integer",
                "description": "Time in seconds the interaction is valid"
              },
              "linkEnabled": {
                "type": "boolean",
                "description": "Whether to include a link in the message"
              }
            }
          }
        ]
      },
      "SlackPokuInteractionChannel": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TemplateFields"
          },
          {
            "type": "object",
            "required": ["medium", "humanNumber", "waitTime"],
            "properties": {
              "medium": {
                "type": "string",
                "enum": ["slack_poku"]
              },
              "humanNumber": {
                "type": "string",
                "minLength": 1,
                "maxLength": 20,
                "description": "The Slack user ID of the human supervisor"
              },
              "waitTime": {
                "type": "integer",
                "minimum": 1,
                "description": "Time in seconds to wait for a response"
              },
              "webhook": {
                "type": "string",
                "minLength": 1,
                "maxLength": 1000,
                "description": "Webhook URL for notifications"
              },
              "validTime": {
                "type": "integer",
                "description": "Time in seconds the interaction is valid"
              },
              "linkEnabled": {
                "type": "boolean",
                "description": "Whether to include a link in the message"
              }
            }
          }
        ]
      },
      "WhatsappPokuInteractionChannel": {
        "type": "object",
        "required": ["medium", "humanNumber", "waitTime"],
        "properties": {
          "medium": {
            "type": "string",
            "enum": ["whatsapp_poku"]
          },
          "humanNumber": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "description": "The WhatsApp phone number of the human supervisor"
          },
          "waitTime": {
            "type": "integer",
            "minimum": 1,
            "description": "Time in seconds to wait for a response"
          },
          "webhook": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1000,
            "description": "Webhook URL for notifications"
          },
          "validTime": {
            "type": "integer",
            "description": "Time in seconds the interaction is valid"
          },
          "linkEnabled": {
            "type": "boolean",
            "description": "Whether to include a link in the message"
          }
        }
      },
      "CallPokuInteractionChannel": {
        "type": "object",
        "required": ["medium", "humanNumber"],
        "properties": {
          "medium": {
            "type": "string",
            "enum": ["call_poku"]
          },
          "humanNumber": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "description": "The phone number of the human supervisor to call"
          }
        }
      },
      "InteractionChannel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the interaction channel"
          },
          "medium": {
            "type": "string",
            "enum": ["sms", "slack", "sms_poku", "slack_poku", "whatsapp_poku", "call_poku"]
          },
          "humanNumber": {
            "type": "string"
          },
          "agentNumber": {
            "type": "string"
          },
          "waitTime": {
            "type": "integer"
          },
          "webhook": {
            "type": "string"
          },
          "validTime": {
            "type": "integer"
          },
          "linkEnabled": {
            "type": "boolean"
          },
          "messageTemplate": {
            "type": "string"
          },
          "responseTemplate": {
            "type": "string"
          },
          "noResponseTemplate": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ContactHumanArgs": {
        "type": "object",
        "required": ["message"],
        "properties": {
          "message": {
            "type": "string",
            "minLength": 1,
            "maxLength": 10000,
            "description": "The question you'd like to ask the human supervisor"
          },
          "human_number": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "description": "Override the default human number (only use if explicitly told to)"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Additional metadata (only use if explicitly told to)"
          },
          "interaction_channel_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Override the interaction channel ID (only use if explicitly told to)"
          }
        }
      },
      "NotifyHumanArgs": {
        "type": "object",
        "required": ["message"],
        "properties": {
          "message": {
            "type": "string",
            "minLength": 1,
            "maxLength": 10000,
            "description": "The information you'd like to share with the human supervisor"
          },
          "human_number": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "description": "Override the default human number (only use if explicitly told to)"
          },
          "interaction_channel_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Override the interaction channel ID (only use if explicitly told to)"
          },
          "interaction_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Existing interaction ID for follow-up messages (only use if explicitly told to)"
          }
        }
      },
      "ContactHumanRequest": {
        "type": "object",
        "required": ["args"],
        "properties": {
          "args": {
            "$ref": "#/components/schemas/ContactHumanArgs"
          }
        }
      },
      "NotifyHumanRequest": {
        "type": "object",
        "required": ["args"],
        "properties": {
          "args": {
            "$ref": "#/components/schemas/NotifyHumanArgs"
          }
        }
      },
      "ContactHumanResponse": {
        "type": "string",
        "description": "The human's response to the message"
      }
    }
  },
  "tags": [
    {
      "name": "Interaction Channels",
      "description": "Manage interaction channels for human-in-the-loop communications"
    },
    {
      "name": "HITL",
      "description": "Human-in-the-loop endpoints for contacting and notifying human supervisors"
    }
  ]
}
