{
  "openapi": "3.0.3",
  "info": {
    "title": "Poku API",
    "description": "API for managing interaction channels and human-in-the-loop (HITL) operations",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.pokulabs.com"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/interaction-channels": {
      "post": {
        "summary": "Create an interaction channel",
        "description": "Creates a new interaction channel for the authenticated user",
        "operationId": "createInteractionChannel",
        "tags": ["Interaction Channels"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InteractionChannelRequest"
              },
              "examples": {
                "sms_poku": {
                  "summary": "Create SMS (using a Poku number) interaction channel",
                  "description": "Create an interaction channel that sends SMS messages via Poku's managed phone numbers",
                  "value": {
                    "medium": "sms_poku",
                    "humanNumber": "+15551234567",
                    "waitTime": 120
                  }
                },
                "slack": {
                  "summary": "Create Slack interaction channel for your own Slack Workspace",
                  "description": "Create an interaction channel that sends messages via your own Slack Workspace",
                  "value": {
                    "medium": "slack",
                    "humanNumber": "U0123456789",
                    "agentNumber": "T0123456789",
                    "waitTime": 120
                  }
                },
                "whatsapp_poku": {
                  "summary": "Create WhatsApp (using a Poku number) interaction channel",
                  "description": "Create an interaction channel that sends WhatsApp messages via Poku's managed phone numbers",
                  "value": {
                    "medium": "whatsapp_poku",
                    "humanNumber": "+15551234567",
                    "waitTime": 120
                  }
                },
                "call_poku": {
                  "summary": "Create a voice call (using a Poku number) interaction channel",
                  "description": "Create an interaction channel that calls a human via Poku's managed phone numbers",
                  "value": {
                    "medium": "call_poku",
                    "humanNumber": "+15551234567"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created interaction channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InteractionChannel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "summary": "Get all interaction channels",
        "description": "Retrieves all interaction channels for the authenticated user",
        "operationId": "getInteractionChannels",
        "tags": ["Interaction Channels"],
        "responses": {
          "200": {
            "description": "Successfully retrieved interaction channels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InteractionChannel"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/interaction-channels/{interactionChannelId}": {
      "delete": {
        "summary": "Delete an interaction channel",
        "description": "Deletes a specific interaction channel by ID",
        "operationId": "deleteInteractionChannel",
        "tags": ["Interaction Channels"],
        "parameters": [
          {
            "name": "interactionChannelId",
            "in": "path",
            "required": true,
            "description": "The ID of the interaction channel to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted interaction channel"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Interaction channel not found"
          }
        }
      }
    },
    "/interaction-channels/test": {
      "post": {
        "summary": "Test an interaction channel",
        "description": "Sends a test message through the specified interaction channel",
        "operationId": "testInteractionChannel",
        "tags": ["Interaction Channels"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["interactionChannelId"],
                "properties": {
                  "interactionChannelId": {
                    "type": "string",
                    "description": "The ID of the interaction channel to test"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test message sent successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Interaction channel not found"
          }
        }
      }
    },
    "/hitl/contact-human/{interactionChannelId}": {
      "post": {
        "summary": "Contact a human",
        "description": "Sends a message to a human and waits for their response.",
        "operationId": "contactHuman",
        "tags": ["HITL"],
        "parameters": [
          {
            "name": "interactionChannelId",
            "in": "path",
            "required": true,
            "description": "The ID of the interaction channel to use",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactHumanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully contacted human and received response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "approval_response": {
                    "summary": "Human approves the request",
                    "value": "Yes, approve the full refund. Please also offer them a 10% discount on their next order as an apology."
                  },
                  "denial_response": {
                    "summary": "Human denies the request",
                    "value": "No, we cannot combine promotional codes. Offer the customer a choice of which code they'd prefer to use."
                  },
                  "timeout_response": {
                    "summary": "No response received within wait time",
                    "value": "No response received from the human within the specified wait time."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Interaction channel not found"
          }
        }
      }
    },
    "/hitl/notify-human/{interactionChannelId}": {
      "post": {
        "summary": "Notify a human",
        "description": "Sends a notification message to a human without waiting for a response.",
        "operationId": "notifyHuman",
        "tags": ["HITL"],
        "parameters": [
          {
            "name": "interactionChannelId",
            "in": "path",
            "required": true,
            "description": "The ID of the interaction channel to use",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotifyHumanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully notified human"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Interaction channel not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "POKU_API_KEY",
        "description": "Enter your POKU_API_KEY below"
      }
    },
    "schemas": {
      "InteractionChannelRequest": {
        "type": "object",
        "required": ["medium", "humanNumber", "waitTime"],
        "properties": {
          "medium": {
            "type": "string",
            "enum": ["sms", "sms_poku", "whatsapp_poku", "slack", "slack_poku", "call_poku"],
            "description": "'sms_poku' will use Poku's Twilio number to send the SMS. Use 'sms' if you've already integrated your Twilio account to Poku. Similarly, 'slack' will use your own Slack workspace if you've already installed the Poku bot. Be sure to provide 'agentNumber' as your owned Twilio number (sms) or your workspace ID (slack)."
          },
          "humanNumber": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "description": "The phone number (or Slack member ID) of the human"
          },
          "waitTime": {
            "type": "integer",
            "minimum": 1,
            "description": "Time in seconds to wait for a response"
          },
          "agentNumber": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "description": "The phone number (or Slack workspace ID) used to send the message"
          },
          "linkEnabled": {
            "type": "boolean",
            "description": "Whether to include a reply link in the message"
          },
          "messageTemplate": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1000,
            "description": "Template for the message sent to the human. Use {{message}} and {{waitTime}} as variables."
          },
          "responseTemplate": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1000,
            "description": "Template for formatting the human's response. Use {{message}} as a variable."
          },
          "noResponseTemplate": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1000,
            "description": "Template for when no response is received."
          }
        }
      },
      "InteractionChannel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the interaction channel"
          },
          "medium": {
            "type": "string",
            "enum": ["sms", "slack", "sms_poku", "slack_poku", "whatsapp_poku", "call_poku"]
          },
          "humanNumber": {
            "type": "string"
          },
          "agentNumber": {
            "type": "string"
          },
          "waitTime": {
            "type": "integer"
          },
          "webhook": {
            "type": "string"
          },
          "validTime": {
            "type": "integer"
          },
          "linkEnabled": {
            "type": "boolean"
          },
          "messageTemplate": {
            "type": "string"
          },
          "responseTemplate": {
            "type": "string"
          },
          "noResponseTemplate": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ContactHumanRequest": {
        "type": "object",
        "required": ["message"],
        "properties": {
          "message": {
            "type": "string",
            "minLength": 1,
            "maxLength": 10000,
            "description": "The question you'd like to ask the human"
          },
          "human_number": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "description": "Override the default human number"
          },
          "interaction_channel_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Override the interaction channel ID"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Additional metadata"
          }
        }
      },
      "NotifyHumanRequest": {
        "type": "object",
        "required": ["message"],
        "properties": {
          "message": {
            "type": "string",
            "minLength": 1,
            "maxLength": 10000,
            "description": "The information you'd like to share with the human"
          },
          "human_number": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "description": "Override the default human number"
          },
          "interaction_channel_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Override the interaction channel ID"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Interaction Channels",
      "description": "Manage interaction channels for human-in-the-loop communications"
    },
    {
      "name": "HITL",
      "description": "Human-in-the-loop endpoints for contacting and notifying humans"
    }
  ]
}
